*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: darkolivegreen;
     .logo{
        width: 150px;
        position: relative;
        left: 30px;
     }
     .navigation{
        position: relative;
        right: 25px;
        top: 60px;
        font-size: 1.10rem;
     }
    
     }



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    min-width: 1200px;
}


.navigation ul{
    display: flex;
    list-style-type: none;
    gap: 3rem;
   
}
.navigation a{
    text-decoration: none;
    color:rgb(255, 254, 254);
    
}
.navigation a:hover{
    text-decoration: none;
    color:rgb(130, 205, 84);
}
hr{
    opacity: 20%;
}

